<center>
    <div id="autodata"><i>loading...</i></div>
    <hr />
    <b>💸💸 RICHLIST 💸💸</b>
    <br /><br />
    <div class="div">
        WALLET:<input name="txt1" type="text" id="txt1" onkeyup="showHint(this.value)" size="41" height="48px">
        <br /><br />RANK: <span id="txtHint">...</span>
    </div>
    <script>

        function showHint(str) {
            if (str.length == 0) {
                document.getElementById("txtHint").innerHTML = "";
                return;
            }
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                document.getElementById("txtHint").innerHTML =
                    this.responseText;
            }
            xhttp.open("GET", "/richList/" + str);
            xhttp.send();
        }
    </script>
    <hr />
    <img src="/img/moon.png" height="100" title="Dark Mode" onclick="myFunction()" onmouseover=""
        style="cursor: pointer;">