body {
    background-color: white;
    font-family: courier, serif;
    color: black;
    
}

.div label,
.div input {
    display: inline-block;
    vertical-align: middle;
    line-height: 2em;
}

.dark-mode {
    background-color:#111222 !important;
    color: white !important;
}